<!DOCTYPE html>
<html lang='en' xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${account.accountName}">Default</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/basic-layout.css}" href="/css/basic-layout.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/register.css}" href="css/register.css"/>
</head>
<body>
<header>
    <nav>
        <ul>
            <li>Online Bank</li>
            <li><a th:href="@{/users/{userId}(userId=${user.userId})}" th:text="Back"></a></li>
        </ul>
    </nav>
</header>
<div>
    <h1 th:text="${account.accountName}"></h1>
    <hr/>
    <br/>
    <form th:action="@{/users/{userId}/accounts/{accountId}(userId=${user.userId},accountId=${account.accountId})}"
          method="post">
        <div class="account-info">
            <label>Account Name: <input required type="text" th:field="${account.accountName}"
                                        th:placeholder="${account.accountName}"
                                        onfocus="this.value='';"/></label>
            <input class="create-account button" type="submit" value="Save Account"/>
        </div>
    </form>
</div>
</body>
</html>