<!DOCTYPE html>
<html lang="en">
<head>
    <title>404</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/basic-layout.css}" href="/css/basic-layout.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}" href="/css/error.css"/>
</head>
<body>
<h1>Oops, there was an error!</h1>
<hr/>
<h3>Go back to safety</h3>
<br/>
<a class="button" th:href="@{/users}" th:text="Back"></a>
</body>
</html>