<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/basic-layout.css}" href="css/register.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/users.css}" href="css/users.css"/>
</head>
<body>
<header>
    <nav>
        <ul>
            <li>Online Bank</li>
            <li><a th:href="@{/register}">New User</a></li>
        </ul>
    </nav>
</header>
<h1>Users</h1>
<hr/>
<br/>
<div class="user-accounts">
    <div th:each="user : ${users}">
        <div class="account-container button">
            <a th:href="@{/users/{userId}(userId=${user.userId})}"><span>User #<span
                    th:text="${user.userId}"></span></span>
                <span th:text="${user.name}"></span></a>
            <!-- Commented out for cleaner look, all of this information is displayed when user is selected -->
            <!--            <span th:text="${user.username}"></span><br/>-->
            <!--            <span th:text="${user.password}"></span>-->
            <!--            <div th:each="account : ${user.accounts}">-->
            <!--                <a th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId},accountId=${account.accountId})}"-->
            <!--                   th:text="${account.accountName}"></a>-->
            <!--            </div>-->
        </div>
    </div>
</div>
</body>
</html>